<div> 
  <div class="bg-white rounded pb-1 pr-3 pl-3" >
    <div class="content-header">
      <h1 class="mb-3 mt-1">VTC Disputant Response Inbox</h1>
      <div id="tableHeader">
        <modal-delete> </modal-delete>
        <ngb-alert [type]="alertType" [dismissible]="true" *ngIf="showAlert" (close)="showAlert=false"> 
          <strong>{{alertType == "danger" ? "Aborted!" : "Success!"}}</strong> {{alertMessage}}
        </ngb-alert>
        <ngb-alert type="danger" *ngIf="outdatedBrowser" [dismissible]="false">
          Internet Explorer is unsupported. Please use a newer browser such as Microsoft Edge or Google Chrome.
        </ngb-alert>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li [ngbNavItem]="1" id="newResponseTab">
            <a class="nav-link" [class.active]="mode === AdminMode.NewResponse" [routerLink]="['/admin/new-responses']" class="tab" >
              New Responses
            </a>
          </li>
          <li [ngbNavItem]="2">
            <a class="nav-link" [routerLink]="['/admin/archive']" [class.active]="mode === AdminMode.Archive" class="tab"  >  
              Archive 
            </a>
          </li>
        </ul>
      </div>
      <div class="container-fluid pr-8 mt-3">
        <div class="row mb-3">
          <div class="col-sm form-inline p-0">
            <div ngbDropdown class="mr-2 align-bottom">
              <button id="hearingLocationButton" class="btn btn-outline-primary" ngbDropdownToggle>{{ selectedRegion.name }}</button>
              <div ngbDropdownMenu id="hearingLocation" aria-labelledby="hearingLocationButton">
                <button ngbDropdownItem *ngFor="let region of regions" (click)="filterByRegion(region)" title="{{region.name}}">{{region.name}}</button>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Search: </span>
              </div>
              <input autocomplete="off" type="text" class="form-control" id="search" (input)="search($event.target.value)">
            </div>
          </div>
          <div class="col-sm pr-0 pl-0" style="justify-content: center; align-items:center; display:flex;">
            <ngb-pagination *ngIf="totalElements !== 0" (pageChange)="switchPage($event,'top')" [collectionSize]="totalElements" [pageSize]="this.searchParameters.filterParameters.limit" [(page)]="this.searchParameters.filterParameters.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>
          </div>
          <div class="col-sm pr-0 pl-0">
            <span _ngcontent-dub-c1="" class="mt-1" style="float:right">
              <button (click)="printTop50()" type="button" [class.hide]="mode == AdminMode.Archive" class="btn btn-secondary" class="btn btn-warning ml-2" style="color:black;" placement="top">
                <img src="assets\print-pdf.svg" class="printer unselectable" width="20" height="20"/>
                Print Top 50 Responses
              </button>
              <button (click)="printSelected()" type="button" class="btn btn-secondary" [class.disabled]="selected.length == 0" class="btn btn-warning ml-2" style="color:black;" placement="top" ngbTooltip="Tip: Hold the shift key to select a range of rows.">
                <img src="assets\print-pdf.svg" class="printer unselectable" width="20" height="20"/>
                Print Selected Responses
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <ngx-datatable
      #table
      class="bootstrap"
      [rows]="rows"
      [scrollbarV]="false"
      [scrollbarH]="false"
      [loadingIndicator]="loading"
      [sortType]="SortType.multi"
      [columnMode]="ColumnMode.force"
      [columns]="columns"
      [headerHeight]="headerHeight"
      [summaryRow]="false"
      [selected]="selected"
      [selectionType]="SelectionType.multiClick"
      [footerHeight]="90"
      [limit]="this.searchParameters.filterParameters.limit"
      [reorderable]="true"
      [rowHeight]="51"
      [externalPaging]="true"
      [externalSorting]="true"
      [count]="totalElements"
      [offset]="this.searchParameters.filterParameters.page"
      [sorts]="this.searchParameters.sortParameters"
      (select)="select($event)"
      (sort)="sort($event)">
      <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}" [resizeable]="false" [sortable]="true" >
        <ng-template 
          ngx-datatable-header-template 
          let-column="column" 
          let-sort="sortFn">
          <span class="unselectable" *ngIf="column.name!=='Action'" (click)="sort()">
          {{column.name}}
          </span>
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
          <ng-template [ngIf]="column.name!=='Action'">
            {{value}}
          </ng-template>
          <div>
            <span [ngClass]="{disabled: value===''}" (click)="openPdf($event,value);" *ngIf="column.name==='Action'" class="unselectable mr-4">
              <img [class.invert-color]="this.selected.indexOf(row) !== -1" width="24" height="24" src="assets/open-pdf.svg"/>
              View 
            </span>
            <span (click)="deleteResponse($event,row);" *ngIf="column.name==='Action'" class="unselectable ml-2">
              <img [class.invert-color]="this.selected.indexOf(row) !== -1" width="24" height="24" src="assets/trash.svg"/>
              Delete 
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-selectedCount="selectedCount"
          let-curPage="curPage"
          let-offset="offset"
        >
          <div class="mt-0 mb-2 container-fluid p-0">
            <hr style="display: flex" class="mb-3 mt-3">
            <div class="row m-0">
              <div class="col-sm form-inline pr-0 pl-0">
                <span style="display:inline-block">
                {{mode === AdminMode.NewResponse ? newCountString : archiveCountString}}
                </span>
              </div>
              <div class="col-sm pr-0 pl-0" style="justify-content: center; align-items:center; display:flex;">
                <ngb-pagination *ngIf="totalElements !== 0" (pageChange)="switchPage($event,'bottom')" [collectionSize]="totalElements" [pageSize]="this.searchParameters.filterParameters.limit" [(page)]="this.searchParameters.filterParameters.page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
                </ngb-pagination>
              </div>
              <div class="col-sm pr-0 pl-0">
                <span class="mt-1" style="float:right">
                  <button (click)="printTop50()" type="button" [class.hide]="mode == AdminMode.Archive" class="btn btn-secondary" class="btn btn-warning ml-2" style="color:black;">
                    <img src="assets\print-pdf.svg" class="printer unselectable" width="20" height="20"/>
                    Print Top 50 Responses
                  </button>
                  <button (click)="printSelected()" type="button" class="btn btn-secondary" [class.disabled]="selected.length == 0" class="btn btn-warning ml-2" style="color:black;" placement="top" container="body" ngbTooltip="Tip: Hold the shift key to select a range of rows.">
                    <img src="assets\print-pdf.svg" class="printer unselectable" width="20" height="20"/>
                    Print Selected Responses
                  </button>
                </span>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
  </div>
</div>