<div> 
  <h4 class="admin-title">
    New Responses
  </h4>
  <div class="container-fluid pr-8 mt-4">
    <div class="row">
      <div ngbDropdown class="d-inline-block mr-2">
        <button id="hearingLocationButton" class="btn btn-outline-primary" ngbDropdownToggle title="{{searchParameters.filterParameters.region || 'All Regions'}}">{{searchParameters.filterParameters.region || 'All Regions'}}</button>
        <div ngbDropdownMenu id="hearingLocation" aria-labelledby="hearingLocationButton">
          <button ngbDropdownItem *ngFor="let region of regions" (click)="filterByRegion(region.name)" title="{{region.name}}">{{region.name}}</button>
        </div>
      </div>
      <div class="form-group mr-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Name: </span>
          </div>
          <input  type="text" class="form-control" id="nameSearch" (input)="filterByName($event.target.value)">
        </div>
      </div>
      <div class="form-group mr-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ticket #: </span>
          </div>
          <input type="text" class="form-control" id="ticketSearch" (input)="filterByTicketNumber($event.target.value)">
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block mr-2" #responseDateDrop="ngbDropdown" >
        <button class="btn btn-outline-primary" ngbDropdownToggle> {{ responseDateText() }}</button>
        <div ngbDropdownMenu>
          <ngb-datepicker autoClose="inside" #d (dateSelect)="responseDateDrop.close(); filterByResponseDate($event)"></ngb-datepicker>
          <br/>
          <button class="btn btn-sm btn-outline-primary mr-2 mt-1 ml-1" (click)="d.focusDate(selectToday()); d.focusSelect();">Today</button>
        </div>
      </div>
      <div class="ml-auto col-auto">
        <a (click)="printTop50($event)" class="btn btn-secondary" style="color:white;">
          <img src="assets\print-pdf.svg" class="invert-color printer unselectable" width="24" height="24"/>
          Print Top 50 Responses
        </a>
        <a (click)="printSelected($event)" [class.disabled]="selected.length == 0" class="btn btn-secondary ml-2" style="color:white;">
          <img src="assets\print-pdf.svg" class="invert-color printer unselectable" width="24" height="24"/>
          Print Selected Responses
        </a>
      </div>
    </div>
  </div>
  <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [scrollbarV]="true"
    [scrollbarH]="true"
    [loadingIndicator]="loading"
    [sortType]="SortType.multiple"
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [headerHeight]="headerHeight"
    [summaryRow]="false"
    [selected]="selected"
    [selectionType]="SelectionType.multiClick"
    [footerHeight]="140"
    [limit]="10"
    [reorderable]="reorderable"
    [rowHeight]="rowHeight"
    [externalSorting]="false"
    [sorts]="this.searchParameters.sortParameters"
    (select)="select($event)"
    (sort)="sort($event)"
    (scroll)="onScroll($event.offsetY)"
  >
    <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}" [resizeable]="false" [sortable]="true" [width]="column.width">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span class="unselectable" *ngIf="column.name!=='Action'" (click)="sort()">
        {{column.name}}
        </span>
      </ng-template>
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        {{value}}
        <span (click)="openPdf($event);" *ngIf="column.name==='Action'" class="unselectable mr-4">
          <!--<img [class.invert-color]="this.selected.indexOf(row) !== -1" width="24" height="24" src="assets/open-pdf.svg"/>-->
          View Response
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset"
      >
        <div style="min-width:100%; font-size:14px;" class="mt-0 mr-2">
          <hr class="mb-0 mt-0"/>
          <span class="font-weight-bold" [class.text-success]="selected.length < 50" [class.text-warning]="selected.length >= 50">{{ selected.length }} selected (50 max)</span>  / {{ this.data.count }} total
          <br/>
          Vancouver (Robson Square): 0
          <br/>
          Richmond, Surrey, Abbotsford: 1 
          <br/>
          Chilliwack, New Westminster, Port Coquitlam, North Vancouver, Pemberton, Bella Bella, Bella Coola, Klemtu, Sechelt : 2 
          <br/>
          Rest of Province: 50
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
  <span class="text-muted" style="font-size:14px">Tip: Hold shift to select multiple rows. Printing is limited to 50 records. </span>
<br/>
</div>

