<div class="container survey-content survey-primary">
  <div class="row">
    <div class="col-md-12" *ngIf="!submitted">
      <app-survey-view
        [surveyPath]="surveyPath"
        [surveyJson]="surveyJson"
        [cacheName]="cacheName"
        [onComplete]="complete"
        [initialMode]="initialMode"
      ></app-survey-view>
    </div>
    <div class="col-md-12" *ngIf="submitted">
      <p><b>Thank-you for choosing how you wish to attend your traffic hearing.</b></p>
    
      <p>A copy of your completed form is attached for your records.</p>
      <p>
        Your preference will be reviewed, and a Notice of Hearing will be sent in the mail telling you of the date and time of your hearing. 
        The notice will also tell you whether you will be attending your hearing in-person, by telephone or by video and will provide you with important information about attending your hearing.
      </p> 
      <p>If you want to learn more about the hearing process, please visit the Provincial Court of British Columbia's website and read their <a href ="https://www.provincialcourt.bc.ca/downloads/Traffic/Traffic Court Guide.pdf" target="_blank">Guide to Disputing a Ticket</a>.
        If you have any questions, please contact the Violation Ticket Centre at: 1-877-661-8026
      </p>

        <button type="submit" (click)=previewPdf() class="btn btn-primary btn-lg mt-4">Preview Your Document
        </button>

    </div>
  </div>
</div>
 