<!-- div class="survey-cache-info" *ngIf="! loading">
  <span class="cache-time" *ngIf="cacheLoadTime">{{ cacheLoadTime | date: 'medium' }}</span>
  <button class="util-nav" *ngIf="cacheLoadTime" (click)="resetCache()">Restart Application</button>
  <a class="util-nav" routerLink="/prv/status">Profile</a>
  <button class="util-nav" (click)="logout()">Logout</button>
</div -->

<div class="page-load" *ngIf="loading && !error">
  <div class="loading-indicator"></div>
</div>
<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>

<div class="survey-container contentcontainer codecontainer">
  <div id="surveyElement"></div>
</div>

<div *ngIf="!loading">
  <re-captcha 
    *ngIf="recaptchaKey && displayRecaptcha" 
    (resolved)="resolvedCaptcha($event)"
    [siteKey]="recaptchaKey"
  ></re-captcha>
  <button 
    class="btn btn-success btn-lg mt-4" 
    id="completeBtn" 
    (click)="hasFieldErrors()" 
    [hidden]="displayRecaptcha"
  >
    <span class="fa fa-check-circle btn-icon-left"></span> Complete
  </button>

  <div class="row my-4">
    <div class="col-md-2 mt-4">
      <button 
        class="btn btn-success btn-lg"  
        id="submitBtn" 
        (click)="submit()" 
        [disabled]="!canSubmit"
        [hidden] = "!displayRecaptcha"
      >
        <span class="fa fa-check-circle btn-icon-left"></span> Submit
      </button>
    </div>
    <div class="col-md-10 mt-4" *ngIf="displayRecaptcha" ><span>Please check your answers before you click "Submit." When you click "Submit," your
        information will be sent to the Provincial Court of British Columbia</span>
    </div>
  </div>
</div>